*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
.list{
    background: #ffd500f4;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu{
    background: #d7001977;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    display: none;
}
.menu.show{
    display: block;
}
.menu ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 30px;
}
.inner-close{
    position: absolute;
    top: 0;
    right: 0;
}
.menu ul li{
    padding: 10px;
    border-top: 1px solid #000; 
    border-bottom: 1px solid #000;
}
.menu ul li:hover{
    background: #FFD400;
    color: #fff;
}