#facebook{
    border: 0.5px solid #000;
    border-radius: 50%;
    width: 30px;
    height: 22px;
    display: inline-block;
    text-align: center; 
    padding-top:7px;
    background: white;
    color: #1877F2;

}
#youtube{
    border: 0.5px solid #000;
    border-radius: 50%;
    width: 30px;
    height: 22px;
    display: inline-block;
    text-align: center;
    padding-top:7px;
    background: #E4E2E4;
    color: #F90604;
}
#tiktok{
    border: 0.5px solid #000;
    border-radius: 50%;
    width: 30px;
    height: 22px;
    display: inline-block;
    text-align: center;
    padding-top:7px;
    background: #E4E2E4;
    color: #FF79C1;
}
.ph{
    text-align: center;
    color: red;
}
#lam{
    color: #77189E;
    text-align: center;
    font-size: 70px;
    background: #E3B236;
}
*{
    text-align: center;
}