.category__list{
    display:flex;
    flex-wrap: wrap;
}

.category__item{
    width: 15%;
    margin-right: 20px;
    background: #5879B2;
    margin-bottom: 10px;
    padding: 20px;
    font-size: 20px;
    border-radius: 15px;
    text-align: center;
    cursor: pointer;
}

.products__list{
    display: flex;
    flex-wrap: wrap;    
}

.products__item{
    background: #FFD400;
    width: 20%;
    margin-right: 20px; 
    margin-bottom: 10px;
    padding: 20px;
    font-size: 20px;
    border-radius: 15px;
    border: 1px solid #ddd;
}
.product__image{
    width: 300px;
    height: 200px;
}
.product__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.product__percent{
    background: orange;
    width: 100px;
    text-align: center;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;
    color: white;
}
.product__price{
    font-size: 24px;
    font-weight: 600;
    color: green;
}
#filter{
    padding: 3px 7px;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    background: #F4F2CD;
    border-radius: 10px;
}
.pagination{
    display: flex;
}
.pagination__button{
    background: orange;
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}
.pagination__number{
    width: 40px;
    text-align: center;
    font-size: 24px;
}